append variables
    -
        var work = {};
        work['vuid'] = {
            name: "Vuid",
            description: "Working as the lead designer at Vuid has propelled my abilities in every direction.",
            background: 'vuid-blue',
            homepage: true,
            home: {
                heading: "Revolutionize your business.",
                h4: "Current role",
                description: true,
                logo: false,
                background: 'vuid-blue',
                color: 'beige'
            }
        };
        
        work['sparkpass'] = {
            name: "Sparkpass",
            description: "TODO: Write sparkpass description",
            background: 'sparkpass-yellow',
            homepage: true,
            home: {
                logo: true,
                background: 'sparkpass-yellow',
                color: 'sparkpass-blue'
            },
            study: {
                
            }
        }
        
        work['elastice'] = {
            name: "Elastice",
            description: "TODO: Write Elastice description",
            background: 'elastice-lavendar',
            homepage: true,
            home: {
                logo: true,
                background: 'elastice-lavendar',
                color: 'purple'
            }
        }
        
        work['skydeck'] = {
            name: "The Skydeck",
            description: "TODO: Write The Skydeck description",
            background: 'skydeck-black',
            homepage: true,
            home: {
                logo: true,
                background: 'skydeck-black',
                color: 'skydeck-gold'
            }
        }
        
        work['ibr-card'] = {
            name: "IBR Christmas card",
            description: "TODO: Write IBR Card description",
            background: 'white',
            preview: "preview.jpg",
            homepage: true,
            home: {
                logo: 'preview.jpg',
                background: 'white',
                color: 'white',
            }
        }
        
        work['lifebalance'] = {
            name: "Lifebalance",
            description: "TODO: Write Lifebalance description"
        }
        
        work['womo-book'] = {
            name: "WOMO",
            description: "TODO: Write WOMO description",
            preview: "preview.jpg"
        }
        
        work['art-project'] = {
            name: "Personal Art Project",
            description: "TODO: Write Art project description",
            preview: "preview.jpg"
        }
        
        work['adobe-magazine'] = {
            name: "Adobe Magazine",
            description: "TODO: Write Adobe description",
            preview: "preview.jpg",
            background: "adobe-magazine-blue"
        }