<!doctype html>
<html lang="en" {{#if fullscreen}} class="full" {{/if}}>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="Tristan Matthias">

    <title>Tristan Matthias</title>

    <!-- Google analytics -->
    <script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-41808476-2', 'tristanmatthias.com'); ga('send', 'pageview'); </script>
</head>
<body>
    <div id="richsnippet" itemscope itemtype="http://data-vocabulary.org/Person">
        My name is <span itemprop="name">Tristan Matthias</span>
        <a href="http://tristanmatthias.com" itemprop="url">tristanmatthias.com</a>.
        I live in 
        <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
            <span itemprop="locality">Brisbane</span>, 
            <span itemprop="region">Queensland</span>,
            <span itemprop="country-name">Australia</span> 
        </span>
        
        and work as a <span itemprop="title">graphics designer</span>
    </div>