<!doctype html>
<html lang="en" {{#if fullscreen}} class="full" {{/if}}>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="Tristan Matthias">

    <title>Tristan Matthias</title>
</head>
<body>
    <div id="richsnippet" itemscope itemtype="http://data-vocabulary.org/Person">
        My name is <span itemprop="name">Tristan Matthias</span>
        <a href="http://tristanmatthias.com" itemprop="url">tristanmatthias.com</a>.
        I live in 
        <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
            <span itemprop="locality">Brisbane</span>, 
            <span itemprop="region">Queensland</span>,
            <span itemprop="country-name">Australia</span> 
        </span>
        
        and work as a <span itemprop="title">graphics designer</span>
    </div>