@import 'lib/import';

:root {
    --ani-time: 0.35s;

    --fs-huge: 3.6rem;
    --fs-large: 2.4rem;
    --fs-main: 1.8rem;
    --fs-small: 1.5rem;
    --fs-tiny: 1.2rem;
    --f-line: 1.6;

    --ff-body: "minion-pro-caption", serif;
    --ff-title: "brandon-grotesque", sans-serif;


    --c-purple: #584A9C;
    --c-purple-light: #e9e4f3;

    --c-orange: #e8a409;
    --c-orange-light: #f4e5c3;


    --c-black: #2f2758;
    --c-grey-dark: #5a547a;
    --c-grey: #c8c3cf;
    --c-grey-midlight: #dad5df;
    --c-grey-light: #e9e4f0;
    --c-white: #f7f7ff;


    --c-main: var(--c-purple);
    --c-main-light: var(--c-purple-light);
    --c-secondary: var(--c-orange);
    --c-secondary-light: var(--c-orange-light);
    --c-text: var(--c-grey-dark);


    --article-width: 740px;

    --border-radius: 0.2rem;
    --border-radius-large: 0.5rem;
}

html {
    font-size: var(--fs-base);
    font-family: var(--ff-body);
    background-color: var(--c-white);
}

.f-left { float: left; }
.f-right { float: right; }
.clear { clear: both; }
.ta-c { text-align: center; }
.upper { text-transform: uppercase; }
.wrapper {
    max-width: var(--article-width);
    margin: auto;
}
