h1.wrapper {
    letter-spacing: 2px;
    font-size: 7.2rem;
    line-height: 7rem;
    margin-top: -1.4rem;
}

section.latest {
    margin-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    border-bottom: 1px solid var(--c-grey-light);
    h2 {
        margin-bottom: 1rem;
    }
}
