@import "lib/include";

section.title h1 { @extend %align-center-v; }

.square#sq-vuid-logo {
    img {
        width: 80%;
        @extend %align-center;
    }
}
.square#sq-vuid h2 {
    @extend %align-center-v;
}
.square#sq-elastice { @extend %above-grid; }

@media #{$tiny-up} {
    section.title {
        &:before {
            background-image: image-url("index/title.jpg");
            @include background-size(cover);
            background-position: center;
        }
        h1 {
            margin-top: -4.5rem;
            margin-left: gs(-0.25);
        }
        h2 {
            bottom: 2rem;
            right: 1rem;
            text-align: right;
        }
    }

    .square#sq-intro {
        &:before {
            display: block;
            content: '';
            height: 2px;
            background-color: col('beige');
            width: gs(3.5);
            margin-bottom: 1rem;
            @include transition(all 1s);
        }
        h2 {
            margin-bottom: 1.7rem;
        }
    }
    .square#sq-skills {
        h4 {
            margin-bottom: gs(2);
        }
    }


    .square#sq-vuid {
        h4 {
            border-color: col('beige');
            margin-bottom: gs(1);
        }
        h2 {
            float: right;
            max-width: gs(5);
            margin-top: gs(-1);
            right: gs(1/2);
            text-align: right;
        }
        p {
            position: absolute;
            width: 100%;
            bottom: gs(1/2);
            left: 0;
            padding: gs(0.5);
            max-width: gs(6);
        }
    }

    .square#sq-sparkpass {
        z-index: 10;
        h4 {
            border-color: col('sparkpass-blue');
        }
        img {
            height: 100%;
            z-index: 1100;
        }
    }

    .square#sq-elastice {
        overflow: hidden;

        &:after {
            position: absolute;
            top: gs(1);
            right: gs(1);
            content:'';
            width: 55.5rem;
            height: 55.5rem;
            background-image: image-url("work/elastice/watermark.svg");
        }
        img {
            width: gs(4);
        }
    }

    .square#sq-skydeck {
        h4 { border-color: col('skydeck-gold'); }
        img {
            width: calc(100% - #{gs(2)});
        }
    }

    .square#sq-ibr-card {
        overflow: hidden;
        h4 {
            border-color: col('white');
            position: relative;
            z-index: 1;
        }
        img {
            // TODO: Make it fit to width & height
            width: 100%;
        }
    }

    body.transition {
        section.title {
            &:before {
                @include animation(swipe-right-out 1s forwards);
            }
            h1 {
                @include animation(slide-up-margin 1s forwards);
            }
        }

        .square#sq-intro:before {
            width: 0;
        }
    }
}


@media #{$tiny-up} and #{$landscape} {
    section.title {
        &:before { background-position: center; }
        h1 { margin-top: 0; }
        h2 {
            max-width: gs(4) + 1rem;
            left: auto;
        }
    }
    .square#sq-vuid {
        h2 {
            margin-top: gs(-1);
        }
    }
}

@media #{$medium-up} and #{$portrait} {
    .square#sq-vuid {
        p {
            bottom: gs(1);
        }
    }
}
@media #{$medium-up} {
    .square#sq-intro {
        p {
            position: absolute;
            bottom: gs(1);
            right: gs(1/2);
            width: calc(100% - #{gs(1)});
        }
    }
    .square#sq-elastice {
        img {
            width: gs(3);
        }
    }
}

@media #{$large-up} {
    section.title {
        h2 {
            text-align: left;
            right: auto;
            max-width: none;
            left: 1rem;
            bottom: gs(1/2);
        }
    }
    // Hiding text for intro description
    .square#sq-intro {
        p {
            bottom: 1rem;
            span:first-child:after {
                content: "\2026\0020";
                display: inline-block;
            }
            span:last-child {
                display: none;
            }
        }
    }
}
@media #{$xlarge-up} {
    .square#sq-vuid {
        h2 {
            max-width: none;
        }
    }
}


// Hiding text for intro description
@media #{$screen} and (min-width:#{890px}) {
    .square#sq-intro p {
        bottom: gs(1);
        span:last-child { display: inline; }
        span:first-child:after { display: none; }
    }
}