@import 'lib/abstracts/import';
* {
    box-sizing: border-box;
}
body .content {
    padding: 0;
}
h1.wrapper {
    letter-spacing: 2px;
    font-size: 7.2rem;
    line-height: 7rem;
    margin-top: -1.4rem;
    user-select: none;
}

section.latest {
    position: relative;
    border-bottom: 1px solid var(--c-grey-light);
}
.articles {
    padding: 0;
}
.article {
    position: relative;
    margin-top: 4rem;
    padding: 4rem;
    padding-top: 0;
    text-align: center;
    list-style: none;
    border-bottom: 1px solid var(--c-grey-light);
    &:last-of-type {
        border-bottom: none;
    }
    h2 {
        margin-bottom: 1rem;
    }
    a:hover h2 {
        color: var(--c-purple-hover);
    }
    .watermark {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 50%;
        z-index: -1;
        opacity: 0.25;
    }
}

@media #{$tiny-up} {
    h1.wrapper {
        font-size: 6rem;
        margin-top: -1.7rem;
    }
    section {
        padding: 0 4rem;
    }
}

@media #{$large-up} {
    h1.wrapper {
        font-size: 7.2rem;
        margin-top: -1.4rem;
    }
    section.articles {
        max-width: var(--article-width);
        margin: auto;
        font-size: 0;
        padding: 0;
        li.article {
            width: calc(50% - 2rem);
            display: inline-block;
            vertical-align: top;
            text-align: left;
            padding: 0;
            border-bottom: 0;
            margin-top: 2rem;

            &:nth-child(2n) {
                margin-left: 4rem;
            }
            &:last-child {
                margin-bottom: 8rem;
            }

            time {
                font-size: 1rem;
                margin: 1rem 0;
            }
            h2 {
                font-size: var(--fs-main);
            }
            p {
                font-size: var(--fs-tiny);
            }
            .watermark {
                width: 50%;
            }
        }
    }
}
