@import 'lib/abstracts/import';

html {
    background-color: var(--c-main);
    background-image: url(/images/background.svg);
}
.wrapper {
    text-align: center;
}

.signup-form {
    margin-top: 0;
    margin-bottom: 2rem;
    background-color: var(--c-white);
}

a.return {
    color: var(--c-white);
    text-align: center;
    text-decoration: none;
}

.wrapper.p404 {
    h1, h2 {
        color: var(--c-white);
    }
    h2 {
        margin-bottom: 2rem;
    }
}
