@import "lib/include";
$green-text: #B6C7BE;
body {
    color: $green-text;
}
h1 {
    margin-top: gs(2);
    width: gs(5);
    line-height: 6rem;
    position: relative;
    color: $green-text;
    span:nth-child(1), span:nth-child(2) {
        position: absolute;
        @extend %ani-slide-down;
        @include animation-delay(1.6s);
    }
    span:nth-child(1) {
        margin-top: gs(-1.5);
    }
    span:last-child {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: col('green');
        @include transform(translate(-50%,-50%) rotate(-45deg));
        overflow: hidden;
        @include animation(h1 1s forwards);
        @include animation-delay(0.5s);

        &:after {
            content: "Featured Works";
            color: col('beige');
            @extend %fs-massive;
            line-height: 6rem;
            position: absolute;
            @include opacity(0);
            @include transform(rotate(45deg) translate(-14.2%,-23.7%));

            @include animation(h1-mask 1s forwards);
            @include animation-delay(1.6s);
        }
    }
}

section.top {
    height: gs(4);
    h2 {
        color: $green-text;
        font-family: $f-stack;
        @extend %fs-grand;
        @extend %fw-med;
        float: right;
        width: 50%;
        position: relative;
        margin: 0;
        margin-top: gs(-2);
        line-height: 4.8rem;
    }
}
section.work {
    position: relative;
    font-size: 0;
    perspective: 1500px;
    z-index: 100;
    .grid-item, .placeholder {
        width: calc((100% - #{gs(1)}) / 3);
        height: 30.6rem;
    }
    .grid {
        position: relative;
        @include transition(all 0.5s cubic-bezier(0,0,0.25,1));
        @include transform-style(preserve-3d);


        .grid-item {
            position: relative;
            display: inline-block;
            vertical-align: top;
            margin-bottom: gs(0.5);
            overflow: hidden;
            @include transition(all 0.5s ease-out);

            h4 { border-top: col('green'); }
            p { color: $green-text; }
            .preview { width: 100%; }

            .content {
                position: absolute;
                width: 100%;
                bottom: 0;
                padding: 1rem;
                @include transition(all $ani-speed/2);
                @include transform(translateY(100%));
                background-color: rgba(col('white'), 0.9);
            }
            &:nth-child(3n-1) {
                margin: gs(0.5);
                margin-top: 0;
            }
            &.active {
                @include opacity(0);
            }
            &:hover {
                .content { @include transform(none); }
            }
        }

        .placeholder {
        	pointer-events: none;
        	position: absolute;
        	@include transform-style(preserve-3d);
        	@include transition(all 0.5s ease-out);
            @include transition-delay(0.15s);

            & > div {
            	display: block;
            	position: absolute;
            	width: 100%;
            	height: 100%;
                @include backface-visibility(hidden);
                @include transform(translate3d(0,0,0));
            }
            .front {
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
            }
            .back {
            	@include transform(rotateY(180deg) translate3d(0,0,0));
            }
            &.active {
                @include transform(translateZ(1500px) rotateY(-179.9deg));
            }
        }
    }



    &.open {
        .grid {
            @include transform(translateZ(-1500px));
            .grid-item {
                pointer-events: none;
            }

        }

    }
    // .grid {
    //     position: relative;
    //     @include transition(all 0.5s cubic-bezier(0,0,0.25,1));
    //     @include transform-style(preserve-3d);
    //     .grid-item {
    //         display: inline-block;
    //         width: 33%;
    //         img { width: 100%; }
    //         &.active {
    //             @include opacity(0);
    //         }
    //     }
    //     .placeholder {
    //         position: absolute;
    //         pointer-events: none;
    //     	@include transform-style(preserve-3d);
    //     	@include transition(all 0.5s ease-out);
    //         & > div {
    //         	display: block;
    //         	position: absolute;
    //         	width: 100%;
    //         	height: 100%;
    //         	backface-visibility: hidden;
    //         }
    //         .front img {
    //         	width: 100%;
    //         	height: 100%;
    //         }
    //         .back {
    //         	background: white;
    //         	@include transform(rotateY(180deg));
    //         }
    //     }
    // }
    // &.view-full {
    //     .grid {
    //         @include transform(translateZ(-1500px));
    //     }
    //     .placeholder {
    //         @include transition(all 0.5s 0.1s cubic-bezier(0,0,0.25,1));
    //         @include transform(translateZ(1500px) rotateY(-179.9deg));
    //     }
    //     .modal {
    //         height: auto;
    //         pointer-events: auto;
    //         visibility: visible;
    //     }
    // }
    // .modal {
    //     overflow-y: scroll;
    // 	height: 0;
    // 	background: #fff;
    // 	visibility: hidden;
    // 	z-index: 400;
    // 	-webkit-overflow-scrolling: touch;
    // }
}

.modal {
    @extend %cover;
    position: fixed;
    overflow-y: auto;
    height: 0;
    visibility: hidden;
    @include opacity(0);
    z-index: 100;
    // @include transition(opacity 0.5s, height 0s);

    &.show {
        height: 100%;
        visibility: visible;
        @include opacity(1);
    }
}

// .square {
//     padding: 0;
//     overflow: hidden;
//     h4 { border-top: col('green'); }
//     p {
//         color: $green-text;
//     }
//     .preview {
//         width: 100%;
//     }
//     .content {
//         position: absolute;
//         width: 100%;
//         bottom: 0;
//         padding: 1rem;
//         @include transition(all $ani-speed/2);
//         @include transform(translateY(100%));
//     }
//     &:hover {
//         .content {
//             @include transform(none);
//         }
//     }
// }

@keyframes h1 {
    0% {
        width: 0;
        height: 2px;
    }
    50% {
        width: gs(5);
        height: 2px;
    }
    100% {
        width: gs(5);
        height: gs(1);
    }
}
@keyframes h1-mask {
    0% {
        margin-left: 2rem;
        margin-top: -2rem;
        @include opacity(0);
    }
    100% {
        margin: 0;
        @include opacity(1);
    }
}