meta(charset="UTF-8")
meta(name="description" content="Tristan Matthias&#039;s blog")
meta(name="keywords" content="tristan matthias")
meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")

meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@tristan_mm")
meta(name="twitter:creator" content="@tristan_mm")

meta(property="og:site_name" content="Tristan Matthias")
meta(property="og:url" content="/")
meta(property="og:type" content="website")
meta(property="og:title" content="Blog")
meta(property="og:image" content="http://www.tristanmatthias.com/images/profile.jpg")
meta(property="og:description" content="Tristan Matthias&#039;s blog")
meta(property="og:image:type" content="image/jpeg")
meta(property="og:image:width" content="1113")
meta(property="og:image:height" content="1113")

meta(name="theme-color" content="#584A9C")
