extends ../../templates/work

append vars
    - var app = "sparkpass"
    -var title = "Sparkpass"
    -var color = "sparkpass-blue";
    
append css
    link(rel="stylesheet", href="#{cssPath}work/sparkpass.css")

block content
    .square
        img.cover(src="#{imgPath}work/sparkpass/mockup-3.jpg", alt="Sparkpass mockup")
    ul.square.bg-white-off.overview.above-grid
        li
            h4 Project
            h5 Sparkpass
        li
            h4 Client
            h5 Idea network
        li
            h4 Role
            h5 Card design
        li
            img(src="#{imgPath}work/sparkpass/logo.svg", alt="Lightning bolt")
            
    .square.bg-sparkpass-yellow.intro.above-grid
        h2 Spark your ideas
        p.ta-r  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem deleniti magnam cum placeat id nisi accusamus illum laboriosam ipsum soluta velit, tempora, dolores dolore incidunt facere ipsa eveniet! In, dolor?
    .square.mockup