extends ../../templates/master.jade


block vars
    -var pageTitle = "Vuid - Case study"
    -var color = "beige"

block css
    link(rel="stylesheet", href="#{cssPath}work/vuid-marketing.css")
    
block body
    .wrapper
        section
            img(src="#{imgPath}work/vuid/logo-white.svg", alt="Logo")
            
        