.button, button {
    display: inline-block;
    height: gs(1);
    line-height: gs(1);
    padding: 0 gs(1/2);
    font-family: $f-stack;
    text-transform: uppercase;
    @extend %fw-bold;
    @extend %fs-large;
    cursor: pointer;
    @extend %rounded;

    &:focus {
        @include opacity(0.75);
    }
    &:hover {
        @include opacity(0.75);
        background-color: rgba(black, 0.04);
    }
    &:active {
        @include opacity(0.75);
        background-color: rgba(black, 0.07);
    }
}