@media #{$large-up} {
    ul.columns, ul.rows {
        li {
            z-index: $page-grid-z;
        }
    }


    ul.columns {
        height: 0;
        li {
            position: fixed;
            height: 100%;
            width: 1px;
            background-color: rgba(col('grey-light'), 0.2);
            @for $i from 1 to $page-grid-cols {
                &:nth-child(#{$i}) {
                    left: calc(#{pgs($i)} - 1px);
                }
            }
            z-index: $page-grid-z;
        }
    }
    ul.rows {
        li {
            position: absolute;
            display: inline-block;
            width: 100%;
            margin-top: calc(#{pgs(1/2)} - 1px);
            height: 1px;
            background-color: rgba(col('grey-light'), 0.2);
        }
    }

    .above-grid {
        position: relative;
        z-index: $page-grid-z + 1;
    }
}