header.top {
    svg#logo-top {
        @extend %align-center-v;
        height: gs(1);
    }
}

@media #{$tiny-up} {
    header.top {
        position: relative;
        height: pgs(1/2);
        line-height: pgs(1/2);
        @include opacity(0);
        @include animation(slide-down-in 1s forwards);
        z-index: 10;
        
        ul {
            line-height: pgs(1/2);
            li {
                display: inline-block;
                margin-left: gs(0.5);
            }
        }

        @each $color, $val in $colors {
            &.c-#{$color} {
                li a {
                    color: $val;
                }
                svg#logo-top path {
                    fill: $val;
                }
            }
        }
    }
}