$header-height-small: gs(3);
$header-height-large: pgs(1/2);

header.top {
    svg#logo-top, button, button svg {
        @extend %align-center-v;
    }
    ul {
        @extend %cover;
        z-index: 400;
        height: 100vh;
        position: fixed;
        background-color: col('white');
    }
}

@media #{$tiny-up} {
    header.top {
        position: relative;
        height: $header-height-small;
        line-height: $header-height-small;
        @include opacity(0);
        @include animation(slide-down-in 1s forwards);
        z-index: 999;

        svg#logo-top {
            height: gs(1);
        }
        svg#logo-top, button {
            z-index: 1000;
        }
        ul {
            display: none;
            padding-top: 30vh;
            li {
                text-align: center;
                height: 15%;
            }
        }
        button {
            background-color: transparent;
            border: none;
            position: absolute;
            right: gs(1/2);
            padding: 0;
            width: gs(1);
            height: gs(1);
            text-align: left;

            &.active {
                & + ul { display: inline-block; }
            }
        }

        @each $color, $val in $colors {
            &.c-#{$color} {
                li a {
                    color: $val;
                }
                svg#logo-top path, #btn-menu g {
                    fill: $val;
                }
            }
        }
    }
}

@media #{$tiny-up} and #{$landscape} {
    header.top {
        ul {
            padding-top: 55vh;
            li {
                display: inline-block;
                width: 33%;
            }
        }
    }
}


@media #{$medium-up} {
    header.top {
        button {
            display: none;
        }
        ul {
            position: relative;
            display: inline-block;
            width: auto;
            height: $header-height-small;
            line-height: $header-height-small;
            padding: 0;
            background-color: transparent;
            li {
                display: inline-block;
                height: 100%;
            }
        }
    }
}

@media #{$large-up} {
    header.top {
        &, ul, li {
            height: $header-height-large;
            line-height: $header-height-large;
        }
    }
}