.transition-ele {
    position: fixed;
    width: auto !important;
    height: auto !important;
    @include transition(all 1s);
    @include opacity(1);


    &.transition {
        @include animation(make-header1 1s forwards, make-header2 0.5s forwards);
        @include animation-delay(1s, 1.5s);
        z-index: 1000;
    }


}
.transition-ele-old {
    @include opacity(0);
}


body.transition {
    overflow: hidden;
    main {
        @include animation(slide-up 1s forwards);
        @include animation-delay(1s);
    }

    .square {
        h4 {
            @include animation(slide-right 1s forwards);
        }
        h2 {
            @include animation(slide-up-margin 1s forwards);
        }
        p {
            @include animation(slide-up 0.75s forwards);
            @include animation-delay(0.25s);
        }
        .arrow {
            @include animation(slide-right 0.5s forwards);
            @include animation-delay(0.5s);
        }

        &:not(.transition-ele) {
            .logo {
                @include animation(slide-left-margin 0.75s forwards);
            }
            .arrow {
                @include animation-delay(0.25s);
            }
        }
    }

}


.transition-swipe  {
    position: fixed;
    left: 0;
    top: 0;
    width: 300%;
    height: 0%;
    z-index: 1000;
    transform: translateX(-50%) rotate(-45deg);
    @include animation(screen-swipe 0.75s forwards);

    & + .transition-swipe {
        @include animation-delay(0.25s);
    }}
