extends main

append content
    article.wrapper !{content}

    .profile.wrapper
        img.f-left(src=`${imgPath}profile.jpg` alt="Tristan Matthias")
        h4 Tristan Matthias
        small.ff-title Designer, developer, and amateur philosopher.

    .wrapper.ta-c
        include ../partials/signup-form
        include ../partials/facebook-comments
