extends main

append content
    article.wrapper !{content}

    .profile.wrapper
        img.f-left(src=`${imgPath}profile.jpg` alt="Tristan Matthias")
        h4 Tristan Matthias
        small.ff-title Designer, developer, and ameteur philosopher!
