<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>userIconName</key>
		<real>505034696.95210999</real>
	</dict>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Computer</string>
	<key>versioning</key>
	<dict>
		<key>userIconName</key>
		<dict>
			<key>a80a3179db9cae2039ef79604e648e92262871b89842fcecdad75e9dfe534735</key>
			<integer>6</integer>
		</dict>
	</dict>
</dict>
</plist>
