extends ../templates/master.jade

append vars
    -var pageTitle = "Tristan Matthias"
    -var color = "purple"
append css
    link(rel="stylesheet", href="#{cssPath}placeholder.css")
block body
    .wrapper
        h1 hey