<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>Work</string>
		<string>New Folder</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>New Folder</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>507955239.74005502</real>
				<key>lastModification</key>
				<real>507955239.74005502</real>
				<key>version</key>
				<dict>
					<key>a80a3179db9cae2039ef79604e648e92262871b89842fcecdad75e9dfe534735</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>Work</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>507955213.229792</real>
				<key>lastModification</key>
				<real>507955213.229792</real>
				<key>version</key>
				<dict>
					<key>a80a3179db9cae2039ef79604e648e92262871b89842fcecdad75e9dfe534735</key>
					<integer>4</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>Dealing with a young hunger.md</key>
			<dict>
				<key>lastModification</key>
				<real>506753291.82116401</real>
				<key>version</key>
				<dict>
					<key>a80a3179db9cae2039ef79604e648e92262871b89842fcecdad75e9dfe534735</key>
					<integer>57</integer>
				</dict>
			</dict>
			<key>Enter 2017 and my Social Experiment.md</key>
			<dict>
				<key>lastModification</key>
				<real>505098592.49906898</real>
				<key>version</key>
				<dict>
					<key>a80a3179db9cae2039ef79604e648e92262871b89842fcecdad75e9dfe534735</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>Front end ad.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>507955320.66074097</real>
				<key>lastModification</key>
				<real>507955320.66074097</real>
				<key>version</key>
				<dict>
					<key>a80a3179db9cae2039ef79604e648e92262871b89842fcecdad75e9dfe534735</key>
					<integer>69</integer>
				</dict>
			</dict>
			<key>One of us.md</key>
			<dict>
				<key>lastModification</key>
				<real>506168651.05074102</real>
				<key>version</key>
				<dict>
					<key>a80a3179db9cae2039ef79604e648e92262871b89842fcecdad75e9dfe534735</key>
					<integer>52</integer>
				</dict>
			</dict>
			<key>This too shall pass.md</key>
			<dict>
				<key>lastModification</key>
				<real>505539974.00209498</real>
				<key>version</key>
				<dict>
					<key>a80a3179db9cae2039ef79604e648e92262871b89842fcecdad75e9dfe534735</key>
					<integer>37</integer>
				</dict>
			</dict>
			<key>Tunnel vision, and why you're not doing enough.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>507977135.91623199</real>
				<key>lastModification</key>
				<real>507977135.91623199</real>
				<key>version</key>
				<dict>
					<key>a80a3179db9cae2039ef79604e648e92262871b89842fcecdad75e9dfe534735</key>
					<integer>95</integer>
				</dict>
			</dict>
			<key>When fighting monsters.md</key>
			<dict>
				<key>lastModification</key>
				<real>507355787.32752502</real>
				<key>version</key>
				<dict>
					<key>a80a3179db9cae2039ef79604e648e92262871b89842fcecdad75e9dfe534735</key>
					<integer>61</integer>
				</dict>
			</dict>
			<key>Why things don't work out for you before you even start them.md</key>
			<dict>
				<key>lastModification</key>
				<real>507956059.78737402</real>
				<key>version</key>
				<dict>
					<key>a80a3179db9cae2039ef79604e648e92262871b89842fcecdad75e9dfe534735</key>
					<integer>93</integer>
				</dict>
			</dict>
		</dict>
		<key>userIconName</key>
		<real>505033470.535806</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Why things don't work out for you before you even start them.md</string>
		</array>
		<array>
			<string>Tunnel vision, and why you're not doing enough.md</string>
		</array>
		<array>
			<string>When fighting monsters.md</string>
		</array>
		<array>
			<string>Front end ad.md</string>
		</array>
		<array>
			<string>Dealing with a young hunger.md</string>
		</array>
		<array>
			<string>One of us.md</string>
		</array>
		<array>
			<string>This too shall pass.md</string>
		</array>
		<array>
			<string>Enter 2017 and my Social Experiment.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Sheets</string>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>a80a3179db9cae2039ef79604e648e92262871b89842fcecdad75e9dfe534735</key>
			<integer>7</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>a80a3179db9cae2039ef79604e648e92262871b89842fcecdad75e9dfe534735</key>
			<integer>95</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>a80a3179db9cae2039ef79604e648e92262871b89842fcecdad75e9dfe534735</key>
			<integer>11</integer>
		</dict>
	</dict>
</dict>
</plist>
