<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Article ideas.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>505098540.03942198</real>
				<key>lastModification</key>
				<real>505098540.03942198</real>
				<key>version</key>
				<dict>
					<key>a80a3179db9cae2039ef79604e648e92262871b89842fcecdad75e9dfe534735</key>
					<integer>22</integer>
				</dict>
			</dict>
			<key>Enter 2017 and my Social Experiment.md</key>
			<dict>
				<key>lastModification</key>
				<real>505098592.49906898</real>
				<key>version</key>
				<dict>
					<key>a80a3179db9cae2039ef79604e648e92262871b89842fcecdad75e9dfe534735</key>
					<integer>23</integer>
				</dict>
			</dict>
		</dict>
		<key>userIconName</key>
		<real>505033470.535806</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Article ideas.md</string>
		</array>
		<array>
			<string>Enter 2017 and my Social Experiment.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Sheets</string>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>a80a3179db9cae2039ef79604e648e92262871b89842fcecdad75e9dfe534735</key>
			<integer>24</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>a80a3179db9cae2039ef79604e648e92262871b89842fcecdad75e9dfe534735</key>
			<integer>11</integer>
		</dict>
	</dict>
</dict>
</plist>
